.scrollContainer {
  overflow-x: hidden;
  padding: 20px;
  width: 100vw;
}

.scrollContent {
  display: flex;
  cursor: grab;
}

.scrollItem {
  min-width: 300px; /* Adjust the width of each scroll item */
  margin-right: 20px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
